@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.flashcard {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform-style: preserve-3d;
  transition: 200ms;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0));
}

.flashcard.flip {
  --rotate-y: 180deg;
}

.flashcard .front,
.flashcard .back {
  position: absolute;
  backface-visibility: hidden;
}

.flashcard .back {
  transform: rotateY(180deg);
}
