@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: black;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.flashcard {
  transform-style: preserve-3d;
  transition: 200ms;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0));
  display: flex;
  justify-content: center;
  align-items: center;
}

.flashcard.flip {
  --rotate-y: 180deg;
}

.flashcard .front,
.flashcard .back {
  backface-visibility: hidden;
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flashcard .back {
  transform: rotateY(180deg);
}
